/* App Container */
.App {
  font-family: Arial, sans-serif;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  flex: 1;
}

/* Top Section: Header and Navbar */
header {
  width: 100%;
  min-height: 50px; /* Set a minimum height in pixels */
  height: 10%; /* Set a height percentage */
  background-color: #f0f0f0;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

nav {
  width: 100%;
  min-height: 40px; /* Set a minimum height in pixels */
  height: 10%; /* Set a height percentage */
  background-color: #e0e0e0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: #f0f0f0;
}

nav li {
  padding: 10px;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* Middle Section: Content */
.content {
  margin-top: 20px;
  height: 100%;
  flex: 1; /* Take up the remaining height */
  overflow-y: auto; /* Allow scrolling if content overflows */
}

/* Bottom Section: Footer */
footer {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #666;
  width: 100%;
  min-height: 50px; /* Set a minimum height in pixels */
  height: 10%; /* Set a height percentage */
  background-color: #f0f0f0;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}